@import url('https://fonts.googleapis.com/css?family=Roboto|Work+Sans|Quicksand')
* { margin:0; padding:0; box-sizing: border-box;}

body {
	font-family: 'Avenir Next', sans-serif;
	text-align: center;
}

h1 {
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
}

p {
	color: black;
}


ul {
	list-style-type: none;
}

nav a {
	color: black;
	margin-right: 40px;
	float: right;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 50px;
}

a:hover {
	background-color: pink;
}

header {
	background-color: black;
	width: 100%;
	text-align: left;
	padding: 20px;
}

footer a {
	background-color: black;
	width: 100%;
	padding: 10px;
	color: white;
	text-decoration: none;
	float: left;
}

section {
	padding: 4em;
}

.column {
	float: left;
	width: 370px;
	height: 500px;
	padding: 10px 0;
	margin: 0 0 0 0;
}

main {
	float: left;
	display: block;
	background-color: pink;
}

#row {
	float: left;
	display: block;
	width: 50%;
	padding-top: 10 5;
	margin: 5em;
	background-color: pink;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
 }



