@import url('https://fonts.googleapis.com/css?family=Roboto|Work+Sans|Montserrat:200i');
* { margin:0; padding:0; box-sizing: border-box;}

body {
	font-family: 'Avenir Next', sans-serif;
	text-align: center;
}

h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;

}

p {
	color: black;
}


ul {
	list-style-type: none;
}

#alaska {
	align-content: left;
}

#vogue {
	align-content: center;
}

#mexico {
	align-content: right;
}

main {
	text-align: left;
}

nav a {
	color: pink;
	margin-right: 40px;
	float: right;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 40px;
}

header {
	background-color: black;
	width: 100%;
	text-align: left;
}

footer a {
	background-color: black;
	padding: 10px;
	color: pink;
	text-decoration: none;
}


