@import url('https://fonts.googleapis.com/css?family=Roboto|Quicksand')
* { margin:0; padding:0; box-sizing: border-box;}
* {box-sizing:border-box;}

h1 {
	color: white;
	font-size: 3em;
}

nav a {
	color: white;
	margin-right: 2em;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	display: none;
	font-size: 1.5em;
	float: right;
}

#mobile {
	display: block;
}

nav:hover a {
	display: block;
}

a:hover {
	background-color: pink;
}

header {
	background-color: pink;
	width: 100%;
	text-align: left;
	padding: 2em;
}

body {
	font-family: 'Avenir Next', sans-serif;
	text-align: center;
}

section {
	max-width: 100%;
}

.column {
	display: inline-block;
	width: 370px;
	height: 500px;
	padding: 2em 0;
	margin: 0 0 0 0;
}

main {
	display: inline-block;
	display: block;
}

.row {
	display: inline-block;
	max-width: 50%;
}

footer a {
	background-color: black;
	width: 100%;
	padding: 1em;
	color: white;
	text-decoration: none;
	display: inline-block;
}

#wrapper {
	max-width: 1280px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
 }

@media only screen and (min-width: 1000px) {
	body {
		font-size: 14px;
	}
}

@media only screen and (max-width: 1280px) {
	body {
		font-size: 16px;
	}
	main {
		width: auto;
		float:none;
	}
}

@media only screen and (max-width: 500px) {
	header{
		width: auto;
	}
	footer{
		width: auto;
	}
}



