body {
	font-family: "Avenir Next", sans-serif;
	text-align: center;
}

h1 {
	color:pink;
}

p {
	font-style: italic;
	color:lightblue;
}


ul {
	list-style-type: none;
}

#alaska {
	align-content: left;
}

#vogue {
	align-content: center;
}

#mexico {
	align-content: right;
}

main {
	text-align: left;
}

header {
	background-color: black;
}

nav a {
	color: pink;
	margin-right: 25px;
}
