body {
	font-family: "Avenir Next", sans-serif;
}

h1 {
	color:pink;
	text-align: center;
}

p {
	font-style: italic;
	color:lightblue;
	text-align: center;
}


ul {
	text-align: center;
	list-style-type: none;
}

#alaska {
	align-content: left;
}

#vogue {
	align-content: center;
}

#mexico {
	align-content: right;
}